.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #FDF2E6;
}
.logo img{
    padding-left: 20px;
    width: 110px;
}
ul{
    list-style: none;
    display: flex;
    font-weight: bold;
    font-size: 24px;
    padding: px 0px;
    margin:0;
}
li{
    padding-right: 10px;
    margin: 0 10px;
}
.content img{
    width: 100%;
}
h2{
    text-align: center;
}
.Abt .abtcon{
    width: 100%;
    display: flex;
    align-items: center;
}
.abtcon img{
    float: right;
    width: 300px;
    height: 230px;
}
.Ser{
    width: 100%;
}
.sercon img{
    width: 330px;
    padding: 20px;
}
.product h2{
    padding: 20px 0;
}
.product{
    background-color: gray;
}
.product ul{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: center;
}
.product img{
    width: 330px;
    padding: 20px;
}
.con{
    text-align: center;
}
.form1{
    display: inline-block;
    text-align: right;
}
.form1 li{
    padding: 15px 0;
}
.endli{
    text-align: right;
    margin-right: 20px;
}
